* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scroll behavior for section*/

html {
    scroll-behavior: smooth;
}

/* whole screen*/

body {
    background-color: silver;
}

/* sections*/

section {
    width: 100%;
    height: 100vh;
    float: left;
}

/* Home Section*/


#home {
    background-color: rgb(238, 238, 238);
}

.header {
    width: 100%;
    height: 10vh;
    background-color: rgb(236, 236, 236);
    position: fixed;
    z-index: 999;
}

.logo {
    color: black;
    position: absolute;
    top: 13px;
    left: 10%;
}

.logo span {
    color: orangered;
}


.logo h1 {
    position: absolute;
    /* top: 2px; */
    left: 10%;
    font-size: 30px;
}



.navigation {
    width: 50%;
    height: 10vh;
    /* background-color: black; */
    position: absolute;
    right: 5px;
}

.navigation a {
    color: black;
    font-size: 23px;
    text-decoration: none;
    padding: 30px;
    position: relative;
    top: 20px;
}

.body {
    width: 100%;
    height: 100vh;
    /* background-color: teal; */
}

.pro {
    position: absolute;
    top: 30%;
    left: 25%;
}

.pro img {
    width: 75%;
    height: 47vh;
    border-radius: 50%;
}

.hello {
    width: 30%;
    height: 35vh;
    /* background-color: red; */
    position: absolute;
    left: 58%;
    top: 40%;
}

.hello p {
    position: relative;
    left: 80px;
    font-size: 18px;
}

.hello h1 {
    font-size: 35px;
    position: absolute;
    top: 25px;
}

.hello span {
    position: absolute;
    left: 40px;
    top: 70px;
    font-size: 20px;
}

button {
    position: absolute;
    top: 42%;
    padding: 12px;
}

.hello button {
    position: relative;
    left: -12px;
}

.One {
    /* background-color: black; */
    position: absolute;
    left: 20px;
    width: 35%;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.One:hover {
    background-color: rgb(46, 44, 44);
    color: white;
}

.one {
    background-color: rgb(46, 44, 44);
    position: relative;
    left: 80%;
    width: 35%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.image {
    position: absolute;
    left: 22%;
    top: 79%;
}

.git img {
    width: 70%;
}

.lin img {
    width: 65%;
    position: relative;
    left: 90%;
    top: -39px;
}

#about {
    background-color: rgb(225, 225, 225);
}

.get {
    position: absolute;
    left: 48%;
    top: 115%;
    color: rgb(95, 95, 95);
    font-size: 18px;
}

.get h1 {
    color: black;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -20px;
    top: 12px;
}

.profile {
    position: absolute;
    top: 129%;
    left: 10%;
}

.profile img {
    width: 125%;
    height: 60vh;
    border-radius: 20px;
}

.medule {
    width: 25%;
    height: 25vh;
    border: 2px solid silver;
    border-radius: 30px;
    position: absolute;
    left: 40%;
    top: 135%;
}

.ima {
    position: absolute;
    left: 43%;
    top: 12px;
}

.ima img {
    width: 60%;
}

.medule h1 {
    text-align: center;
    position: relative;
    top: 45px;
}

.medule span {
    color: rgb(95, 95, 95);
    font-size: 20px;
    position: relative;
    left: 39%;
    top: 50px;

}

.medule p {
    color: rgb(95, 95, 95);
    font-size: 20px;
    position: relative;
    left: 25%;
    top: 55px;
}

.education {
    width: 25%;
    height: 25vh;
    border: 2px solid silver;
    border-radius: 30px;
    position: absolute;
    left: 68%;
    top: 135%;
}

.prof {
    position: absolute;
    top: 10%;
    left: 45%;
}

.education h1 {
    text-align: center;
    position: relative;
    top: 45px;
}

.education span {
    color: rgb(95, 95, 95);
    font-size: 20px;
    position: relative;
    left: 30%;
    top: 60px;
}

.lore {
    width: 49%;
    position: absolute;
    left: 42%;
    top: 165%;
    font-size: 20px;
}

#experience {
    background-color: rgb(238, 238, 238);
}

.exp {
    position: absolute;
    left: 48%;
    top: 215%;
    color: rgb(95, 95, 95);
    font-size: 18px;
}

.exp h1 {
    color: black;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -50px;
    top: 20px;
}

.front {
    width: 37%;
    height: 50vh;
    border: 2px solid silver;
    border-radius: 30px;
    position: absolute;
    top: 235%;
    left: 13%;
}

.front h1 {
    text-align: center;
    position: relative;
    top: 15px;
    color: rgb(95, 95, 95);
}

.html {
    position: absolute;
    top: 25%;
    left: 15%;
}

.html img {
    width: 25%;
}

.html p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 55%;
    top: -35px;
    font-weight: 600;
}

.html span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 55%;
    top: -30px;
}

.css {
    position: absolute;
    top: 60%;
    left: 15%;
}

.css img {
    width: 25%;
}

.css p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 55%;
    top: -35px;
    font-weight: 600;
}

.css span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 55%;
    top: -30px;
}

.js {
    position: absolute;
    top: 24%;
    left: 55%;
}

.js img {
    width: 18%;
}

.js p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 40%;
    top: -35px;
    font-weight: 600;
}

.js span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 40%;
    top: -30px;
}

.ui {
    position: absolute;
    top: 59%;
    left: 55%;
}

.ui img {
    width: 17%;
}

.ui p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 40%;
    top: -35px;
    font-weight: 600;
}

.ui span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 40%;
    top: -30px;
}

.back {
    width: 37%;
    height: 50vh;
    border: 2px solid silver;
    border-radius: 30px;
    position: absolute;
    top: 235%;
    left: 53%;
}

.back h1 {
    text-align: center;
    position: relative;
    top: 15px;
    color: rgb(95, 95, 95);
}

.sql {
    position: absolute;
    top: 25%;
    left: 15%;
}

.sql img {
    width: 25%;
}

.sql p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 55%;
    top: -35px;
    font-weight: 600;
}

.sql span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 55%;
    top: -30px;
}

.my {
    position: absolute;
    top: 50%;
    left: 15%;
}

.my img {
    width: 25%;
}

.my p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 55%;
    top: -35px;
    font-weight: 600;
}

.my span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 55%;
    top: -30px;
}

.maria {
    position: absolute;
    top: 75%;
    left: 15%;
}

.maria img {
    width: 22%;
}

.maria p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 47%;
    top: -35px;
    font-weight: 600;
}

.maria span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 47%;
    top: -30px;
}

.oracle {
    position: absolute;
    top: 24%;
    left: 55%;
}

.oracle img {
    width: 23%;
}

.oracle p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 40%;
    top: -35px;
    font-weight: 600;
}

.oracle span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 40%;
    top: -30px;
}

.php {
    position: absolute;
    top: 49%;
    left: 55%;
}

.php img {
    width: 22%;
}

.php p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 40%;
    top: -35px;
    font-weight: 600;
}

.php span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 40%;
    top: -30px;
}

.got {
    position: absolute;
    top: 76%;
    left: 55%;
}

.got img {
    width: 23%;
}

.got p {
    color: black;
    font-size: 20px;
    position: relative;
    left: 40%;
    top: -35px;
    font-weight: 600;
}

.got span {
    color: rgb(95, 95, 95);
    font-size: 17px;
    position: relative;
    left: 40%;
    top: -30px;
}

#project {
    background-color: rgb(225, 225, 225);
}

.proj {
    position: absolute;
    left: 46%;
    top: 315%;
    color: rgb(95, 95, 95);
    font-size: 18px;
}

.proj h1 {
    color: black;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    /* left: -5px; */
    top: 12px;
}

.real {
    width: 25%;
    height: 60vh;
    position: absolute;
    top: 335%;
    left: 10%;
    border: 2px solid silver;
    border-radius: 30px;
}

.real img {
    width: 90%;
    height: 30vh;
    position: relative;
    top: 20px;
    left: 5%;
    border-radius: 20px;
}

.a h1 {
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.a button {
    width: 30%;
    position: relative;
    top: 60px;
    left: 50px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

.a button a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.a button:hover {
    background-color: rgb(108, 108, 108);
    color: white;
}

.a .btn {
    position: relative;
    left: 70px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

.for {
    width: 25%;
    height: 60vh;
    position: absolute;
    top: 335%;
    left: 37.5%;
    border: 2px solid silver;
    border-radius: 30px;
}

.for img {
    width: 90%;
    height: 30vh;
    position: relative;
    top: 20px;
    left: 5%;
    border-radius: 20px;
}

.b h1 {
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.b button {
    width: 30%;
    position: relative;
    top: 60px;
    left: 50px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

.b button a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.b button:hover {
    background-color: rgb(108, 108, 108);
    color: white;
}

.b .btn {
    position: relative;
    left: 70px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

.foreal img {
    width: 90%;
    height: 30vh;
    position: relative;
    top: 20px;
    left: 5%;
    border-radius: 20px;
}

.foreal {
    width: 25%;
    height: 60vh;
    position: absolute;
    top: 335%;
    left: 65%;
    border: 2px solid silver;
    border-radius: 30px;
}

.c h1 {
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.c button {
    width: 30%;
    position: relative;
    top: 60px;
    left: 50px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

.c button a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.c button:hover {
    background-color: rgb(108, 108, 108);
    color: white;
}

.c .btn {
    position: relative;
    left: 70px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor: pointer;
}

#contact {
    background-color: rgb(238, 238, 238);
}

.cont {
    position: absolute;
    left: 46%;
    top: 425%;
    color: rgb(95, 95, 95);
    font-size: 18px;
}

.cont h1 {
    color: black;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -50px;
    top: 12px;
}

.container {
    width: 40%;
    height: 12vh;
    border: 2px solid silver;
    border-radius: 30px;
    position: relative;
    top: 45%;
    left: 30%;
}

.gmail {
    position: relative;
    top: 20px;
    left: 10px;
}

.gmail img {
    width: 30px;
}

.gmail a {
    position: relative;
    top: -8px;
    left: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.ink {
    position: relative;
    top: -18px;
    left: 60%;
}

.ink img {
    width: 35px;
}

.ink a {
    position: relative;
    top: -8px;
    left: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.footer {
    width: 100%;
    height: 18vh;
    background-color: rgb(225, 225, 225);
    position: relative;
    top: 70%;
}

.lego {
    color: black;
    position: absolute;
    top: 45px;
    left: 5%;
}

.lego span {
    color: orangered;
}


.lego h1 {
    position: absolute;
    /* top: 2px; */
    left: 10%;
    font-size: 30px;
}

.nav {
    width: 50%;
    height: 10vh;
    /* background-color: black; */
    position: absolute;
    right: 20%;
    top: 30px;
}

.nav a {
    color: black;
    font-size: 23px;
    text-decoration: none;
    padding: 30px;
    position: relative;
    top: 20px;
}

.social {
    position: absolute;
    right: 6%;
    top: 35%;
}

.social img {
    width: 25%;
}

/* Media Screen query*/

/* Home Section*/

@media screen and (max-width: 1067px) {
    #home {
        background-color: rgb(238, 238, 238);
    }

    .header {
        width: 100%;
        height: 10vh;
        background-color: rgb(236, 236, 236);
        position: fixed;
        z-index: 999;
    }

    .navigation {
        width: 55%;
        height: 10vh;
        position: absolute;
        right: 50px;
        /* background-color: black; */
    }

    .pro {
        position: absolute;
        top: 30%;
        left: 20%;
    }

    .pro img {
        width: 75%;
        height: 45vh;
        border-radius: 50%;
    }

    .hello {
        width: 30%;
        height: 35vh;
        position: absolute;
        left: 55%;
        top: 35%;
    }

    .hello span {
        position: absolute;
        left: 40px;
        top: 70px;
        font-size: 18px;
    }

    button {
        position: absolute;
        top: 50%;
        padding: 12px;
    }

    .One {
        position: absolute;
        left: 20px;
        width: 38%;
        border: 1px solid rgb(46, 44, 44);
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
    }

    
    .One:hover {
        background-color: rgb(46, 44, 44);
        color: white;
    }

    .one {
        background-color: rgb(46, 44, 44);
        position: relative;
        width: 38%;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color: white;
    }

    .image {
        position: absolute;
        left: 22%;
        top: 95%;
    }

    #about {
        background-color: rgb(225, 225, 225);
    }

    .medule span {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 36%;
        top: 45px;
    
    }
    
    .medule p {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 18%;
        top: 48px;
    }

    .education {
        width: 25%;
        height: 25vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        left: 66%;
        top: 135%;
    }

    .education span {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 25%;
        top: 60px;
    }

    .lore {
        width: 49%;
        position: absolute;
        left: 42%;
        top: 165%;
        font-size: 17px;
    }

    .front {
        width: 37%;
        height: 50vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        top: 240%;
        left: 13%;
    }

    .html {
        position: absolute;
        top: 30%;
        left: 8%;
    }

    .css {
        position: absolute;
        top: 65%;
        left: 8%;
    }

    .js {
        position: absolute;
        top: 29%;
        left: 50%;
    }

    .ui {
        position: absolute;
        top: 64%;
        left: 50%;
    }

    .back {
        width: 37%;
        height: 50vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        top: 240%;
        left: 53%;
    }

    .sql {
        position: absolute;
        top: 28%;
        left: 10%;
    }

    .my {
        position: absolute;
        top: 53%;
        left: 10%;
    }

    .maria {
        position: absolute;
        top: 78%;
        left: 10%;
    }
    .oracle {
        position: absolute;
        top: 27%;
        left: 58%;
    }

    .php {
        position: absolute;
        top: 52%;
        left: 58%;
    }

    .got {
        position: absolute;
        top: 78%;
        left: 58%;
    }

    .a button {
        width: 40%;
        position: relative;
        top: 60px;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .a button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    
    .a button:hover {
        background-color: rgb(108, 108, 108);
        color: white;
    }
    
    .a .btn {
        position: relative;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .b button {
        width: 40%;
        position: relative;
        top: 60px;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .b button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    
    .b button:hover {
        background-color: rgb(108, 108, 108);
        color: white;
    }
    
    .b .btn {
        position: relative;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .c button {
        width: 40%;
        position: relative;
        top: 60px;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .c button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    
    .c button:hover {
        background-color: rgb(108, 108, 108);
        color: white;
    }
    
    .c .btn {
        position: relative;
        left: 30px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .gmail a {
        position: relative;
        top: -8px;
        left: -3px;
        color: black;
        text-decoration: none;
        font-size: 17px;
    }

    .ink {
        position: relative;
        top: -18px;
        left: 62%;
    }

    .ink a {
        position: relative;
        top: -8px;
        left: -3px;
        color: black;
        text-decoration: none;
        font-size: 17px;
    }

    .footer {
        width: 100%;
        height: 26vh;
        background-color: rgb(225, 225, 225);
        position: relative;
        top: 70%;
    }

    .lego {
        color: black;
        position: absolute;
        top: 50px;
        left: 5%;
    }

    .nav {
        width: 55%;
        height: 10vh;
        position: absolute;
        right: 23%;
        top: 35px;
    }

    .social {
        position: absolute;
        right: 4%;
        top: 40%;
    }

    .social img {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        height: 10vh;
        background-color: rgb(236, 236, 236);
        position: fixed;
        z-index: 999;
    }

    .logo {
        color: black;
        position: absolute;
        top: 10px;
        left: 8%;
    }

    .navigation {
        width: 55%;
        height: 10vh;
        position: absolute;
        right: 50px;
    }

    .navigation a {
        color: black;
        font-size: 23px;
        text-decoration: none;
        padding: 30px;
        position: relative;
        top: 15px;
    }

    button {
        position: absolute;
        top: 50%;
        padding: 12px;
    }

    .One {
        position: absolute;
        left: 20px;
        width: 40%;
        border: 1px solid rgb(46, 44, 44);
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
    }

    .One:hover {
        background-color: rgb(46, 44, 44);
        color: white;
    }

    .one {
        background-color: rgb(46, 44, 44);
        position: relative;
        width: 40%;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color: white;
    }

    .image {
        position: absolute;
        left: 25%;
        top: 95%;
    }

    #about {
        background-color: rgb(225, 225, 225);
    }

    .get {
        position: absolute;
        left: 48%;
        top: 112%;
        color: rgb(95, 95, 95);
        font-size: 18px;
    }
    
    .get h1 {
        color: black;
        font-weight: 600;
        font-size: 38px;
        position: relative;
        left: -17px;
        top: 7px;
    }

    .profile {
        position: absolute;
        top: 130%;
        left: 10%;
    }
    
    .profile img {
        width: 125%;
        height: 65vh;
        border-radius: 20px;
    }

    .medule h1 {
        text-align: center;
        position: relative;
        top: 40px;
    }

    .medule span {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 35%;
        top: 40px;
    
    }
    
    .medule p {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 18%;
        top: 45px;
    }

    .js p {
        color: black;
        font-size: 20px;
        position: relative;
        left: 35%;
        top: -35px;
        font-weight: 600;
    }
    
    .js span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 35%;
        top: -30px;
    }

    .ui p {
        color: black;
        font-size: 20px;
        position: relative;
        left: 35%;
        top: -35px;
        font-weight: 600;
    }
    
    .ui span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 35%;
        top: -30px;
    }

    .real {
        width: 25%;
        height: 62vh;
        position: absolute;
        top: 335%;
        left: 10%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .a h1 {
        position: relative;
        top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .for {
        width: 25%;
        height: 62vh;
        position: absolute;
        top: 335%;
        left: 37.5%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .b h1 {
        position: relative;
        top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .foreal {
        width: 25%;
        height: 62vh;
        position: absolute;
        top: 335%;
        left: 65%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .c h1 {
        position: relative;
        top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .cont {
        position: absolute;
        left: 46%;
        top: 415%;
        color: rgb(95, 95, 95);
        font-size: 18px;
    }

    .container {
        width: 43%;
        height: 12vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: relative;
        top: 43%;
        left: 30%;
    }

    .gmail {
        position: relative;
        top: 15px;
        left: 10px;
    }

    .ink {
        position: relative;
        top: -23px;
        left: 62%;
    }

    .social {
        position: absolute;
        right: 2%;
        top: 37%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 10vh;
        background-color: rgb(236, 236, 236);
        position: fixed;
        z-index: 999;
    }

    .logo {
        color: black;
        position: absolute;
        top: 7px;
        left: 8%;
    }

    .navigation {
        width: 60%;
        height: 10vh;
        position: absolute;
        right: 4px;
    }

    .navigation a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
    }

    .pro {
        position: absolute;
        top: 30%;
        left: 15%;
    }
    
    .pro img {
        width: 75%;
        height: 47vh;
        border-radius: 50%;
    }

    .hello {
        width: 30%;
        height: 35vh;
        position: absolute;
        left: 55%;
        top: 35%;
    }

    .hello h1 {
        font-size: 28px;
        position: absolute;
        top: 25px;
        left: 15px;
    }

    button {
        position: relative;
        top: 50%;
    }
/* 
    .hello button {
        position: relative;
        left: -12px;     
        width: 55%;
    } */

    .hello .One {
        width: 55%;
        position: relative;
        left: -15px;
        border: 1px solid rgb(46, 44, 44);
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
    }

    .hello .one {
        background-color: rgb(46, 44, 44);
        width: 55%;
        position: relative;
        left: 55%;
        top: 45px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color: white;
    }

    .image {
        position: absolute;
        left: 33%;
        top: 95%;
    }

    .get {
        position: absolute;
        left: 48%;
        top: 111%;
        color: rgb(95, 95, 95);
        font-size: 18px;
    }

    .get h1 {
        color: black;
        font-weight: 600;
        font-size: 30px;
        position: relative;
        left: 5px;
        top: 5px;
    }

    .profile {
        position: absolute;
        top: 125%;
        left: 2%;
    }

    .profile img {
        width: 117%;
        height: 70vh;
        border-radius: 20px;
    }

    .medule {
        width: 28%;
        height: 25vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        left: 40%;
        top: 130%;
    }

    .medule p {
        color: rgb(95, 95, 95);
        font-size: 20px;
        position: relative;
        left: 10%;
        top: 45px;
    }

    .education {
        width: 28%;
        height: 25vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        left: 70%;
        top: 130%;
    }

    .lore {
        width: 55%;
        position: absolute;
        left: 42%;
        top: 158%;
        font-size: 17px;
    }

    .exp h1 {
        color: black;
        font-weight: 600;
        font-size: 30px;
        position: relative;
        left: -30px;
        top: 10px;
    }

    .front {
        width: 47%;
        height: 50vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        top: 235%;
        left: 2%;
    }

    .html {
        position: absolute;
        top: 30%;
        left: 5%;
    }
    
    .html img {
        width: 23%;
    }
    
    .html p {
        color: black;
        font-size: 18px;
        position: relative;
        left: 45%;
        top: -35px;
        font-weight: 600;
    }
    
    .html span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 45%;
        top: -30px;
    }

    .css {
        position: absolute;
        top: 60%;
        left: 5%;
    }
    
    .css img {
        width: 23%;
    }
    
    .css p {
        color: black;
        font-size: 18px;
        position: relative;
        left: 45%;
        top: -35px;
        font-weight: 600;
    }
    
    .css span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 45%;
        top: -30px;
    }

    .js {
        position: absolute;
        top: 29%;
        left: 50%;
    }
    
    .js img {
        width: 18%;
    }
    
    .js p {
        color: black;
        font-size: 18px;
        position: relative;
        left: 33%;
        top: -35px;
        font-weight: 600;
    }
    
    .js span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 33%;
        top: -30px;
    }

    .ui {
        position: absolute;
        top: 59%;
        left: 50%;
    }
    
    .ui img {
        width: 15%;
    }
    
    .ui p {
        color: black;
        font-size: 20px;
        position: relative;
        left: 27%;
        top: -35px;
        font-weight: 600;
    }
    
    .ui span {
        color: rgb(95, 95, 95);
        font-size: 17px;
        position: relative;
        left: 27%;
        top: -30px;
    }

    .back {
        width: 47%;
        height: 50vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: absolute;
        top: 235%;
        left: 51%;
    }

    .sql {
        position: absolute;
        top: 27%;
        left: 7%;
    }

    .my {
        position: absolute;
        top: 52%;
        left: 7%;
    }

    .maria {
        position: absolute;
        top: 77%;
        left: 7%;
    }

    .maria img {
        width: 21%;
    }

    .proj {
        position: absolute;
        left: 44%;
        top: 313%;
        color: rgb(95, 95, 95);
        font-size: 18px;
    }

    .proj h1 {
        color: black;
        font-weight: 600;
        font-size: 30px;
        position: relative;
        left: 20px;
        top: 12px;
    }

    .real {
        width: 31%;
        height: 60vh;
        position: absolute;
        top: 335%;
        left: 2%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .a button {
        width: 35%;
        position: relative;
        top: 60px;
        left: 25px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .a button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 10px;
    }

    .a .btn {
        position: relative;
        left: 40px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .for {
        width: 31%;
        height: 60vh;
        position: absolute;
        top: 335%;
        left: 34.5%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .b button {
        width: 35%;
        position: relative;
        top: 60px;
        left: 25px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .b button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 10px;
    }

    .foreal {
        width: 31%;
        height: 60vh;
        position: absolute;
        top: 335%;
        left: 67%;
        border: 2px solid silver;
        border-radius: 30px;
    }

    .b .btn {
        position: relative;
        left: 40px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .c button {
        width: 35%;
        position: relative;
        top: 60px;
        left: 25px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .c button a {
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 10px;
    }

    .c .btn {
        position: relative;
        left: 40px;
        border: 2px solid silver;
        border-radius: 30px;
        cursor: pointer;
    }

    .cont h1 {
        color: black;
        font-weight: 600;
        font-size: 30px;
        position: relative;
        left: -28px;
        top: 15px;
    }

    .container {
        width: 40%;
        height: 20vh;
        border: 2px solid silver;
        border-radius: 30px;
        position: relative;
        top: 45%;
        left: 33%;
    }

    .gmail {
        position: relative;
        top: 20px;
        left: 25px;
    }

    .ink {
        position: relative;
        top: 18px;
        left: 7%;
    }

    .nav {
        width: 55%;
        height: 10vh;
        position: absolute;
        right: 22%;
        top: 38px;
    }

    .nav a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        padding: 15px;
        position: relative;
        top: 20px;
    }

    .social {
        position: absolute;
        right: 1%;
        top: 40%;
    }

}
